<h1>My article</h1>

<div id="card">
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.text %></p>
    <% if sponsored_article?(@article) %>
      <h3>Artykul sponsored by <%= @article.company.name %></h3>
    <% end %>
    <p class="card-text">
      <% @article.tags.each do |tag| %>
        <%= link_to tag, articles_path(q: tag),class:"badge badge-pill badge-dark" %>
     <% end %>
    </p>
    <h2>Likes</h2>
    <%= pluralize(@article.likes_count, "person") %> liked this article!
    <% if @like.persisted? %>
    <i class="fa fa-thumbs-down"></i>
    <%= link_to 'Unlike', article_like_path(@article, @like), method: :delete %>

    <% else %>
      <i class="fa fa-thumbs-up"></i>
      <i class="fa fa-github"></i>
      <%= link_to 'Like', article_likes_path(@article), method: :post %>
    <% end %>
    <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-primary" %>
    <%= link_to 'Delete', article_path(@article),method: :delete, data: {confirm: "Pewniak?"}, class:"btn btn-danger" %>
  </div>
</div>
<br>
<% if sponsored_article?(@article) %>
  <p>Komentarze zablokownik</p>
<% else %>
<%= render 'comments/comment' %>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
<% end %>
<%= link_to 'Back', articles_path, class:"btn btn-light" %>
